<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Vue To Do List</title>
</head>

<body>

    <div id="app">

        <div class="container">

            <div class="add-todo-container">

                <h1>List of TO-DO elements!</h1>

                <input type="text" v-model="insertNewTask" @keyUp.enter="insertTodo">

                <button @click="insertTodo">Inserisci task</button>

            </div>

            <div class="to-do-container">

                <ul>
                    <li v-for="(item, index) in todoList">
                        <del v-if="item.done">{{ item.text }} <span id="remove-task"
                                @click="removeTask(index)">X</span></del>
                        <div v-else>{{ item.text }} <span id="remove-task" @click="removeTask(index)">X</span></div>

                    </li>
                </ul>

            </div>

        </div>

    </div>

</body>

</html>